.baselinks {
  width: 100vw;
  height: 15vh;
  bottom: 0vh;
  position: fixed;
  z-index: 4;

  background-color: black;
  font-size: 5vh;
  color: white;
  white-space: initial;
}
.img3 {
  width: 5vh;
  margin-top: 0vh;
  height: 5vh;
}

.flex-container {
  display: flex;
  height: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.flex-container > div {
  width: 5vh;
  height: 5vh;
  text-align: center;
}
