.bighead2 {
  /* RAHUL RISHAV: */
  position: fixed;
  margin-top: 15vw;
  margin-left: 100%;
  font-family: AvenirNext-Bold;
  font-size: 10vw;
  color: black;
  background: url(../images/sk.jpg);
  background-size: contain;
  -webkit-background-clip: text;
  z-index: 3;
  -webkit-text-fill-color: transparent;
}
