.bighead {
  /* RAHUL RISHAV: */
  position: fixed;
  font-family: AvenirNext-Bold;
  z-index: 2;
  font-size: 10vw;
  width: 100%;
  text-align: right;
  color: #ffffff;
}
.bighead:hover {
  color: #b7b7b7;
  cursor: pointer;
}
