.grid-container {
  display: grid;
  grid-template-columns: 3fr 4fr 2fr 3fr 2fr auto;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 2vw;
}

.grid-item:nth-child(odd) {
  padding: 20px;
  font-family: AvenirNext-Medium;
  font-size: 2vw;
  text-align: center;
  color: #222222;
}
.grid-item:nth-child(even) {
  padding: 20px;
  font-family: AvenirNext-UltraLight;
  font-size: 2vw;
  text-align: center;
  color: #222222;
}
