.grid-container {
  display: grid;
  grid-template-columns: 2fr 4fr 2fr 3fr auto;
  grid-template-rows: 10vh 10vh 8vh 2vh;
  position: fixed;
  bottom: 0;
  z-index: 3;
  font-size: 3vw;

  width: 92vw;
  padding: 5vh 4vw 5vh 4vw;
}

.grid-item1 {
  font-family: AvenirNext-Medium;
  text-align: center;
}
.grid-item2 {
  font-family: AvenirNext-UltraLight;
  text-align: center;
}
