.grid-container {
  display: grid;
  grid-template-columns: 2fr 4fr 2fr 3fr 2fr auto;
  grid-template-rows: 5vw 5vw 5vw 5vw;
  position: fixed;
  bottom: 0;
  z-index: 3;
  font-size: 5vh;

  width: 96vw;
  height: 40vh;
  padding: 5vh 2vw 5vh 2vw;
}

.grid-item:nth-child(odd) {
  padding: 20px;
  font-family: AvenirNext-Medium;
  text-align: center;
}
.grid-item:nth-child(even) {
  padding: 20px;
  font-family: AvenirNext-UltraLight;
  text-align: center;
}
