.whitebanner {
  width: 96vw;
  height: 40vh;
  margin-top: -50vh;
  position: fixed;
  z-index: 4;
  background-color: white;
  padding: 5vh 2vw 5vh 2vw;
  font-family: AvenirNext-Medium;
  font-size: 5vh;
  color: #000000;
  white-space: initial;
}
